    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src="img/blog/blog-1.jpg" alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 19, 2024</div>
                            <a href="#bmi" class="tag">#BMI</a>
                        </div>
                        <h4><a href="#blog1">Introduction to Weight Loss and BMI</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src="img/blog/blog-2.jpg" alt="">
                        <div class="blog-widget">
                            <div class="bw-date">December, 2023</div>
                            <a href="#blog2" class="tag">#Sport</a>
                        </div>
                        <h4><a href="#blog2">Understanding the Importance of Calorie Deficit for Weight Loss</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src="img/blog/blog-3.jpg" alt="">
                        <div class="blog-widget">
                            <div class="bw-date">September, 2023</div>
                            <a href="#" class="tag">#Body</a>
                        </div>
                        <h4><a href="#blog3">Healthy Recipes</a></h4>
                    </div>
                </div>
    <!-- Blog Section End -->

   
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>